@forward '../shared/styles/reset';

body {
	background-color: var(--bg-color-primary);
	color: var(--text-color-primary);
	min-height: 100vh;
	font-size: 16px;
	font-weight: 400;
	transition:
		background-color 0.3s ease,
		color 0.3s ease;

	font-family:
		var(--font-inter),
		system-ui,
		Segoe UI,
		Helvetica Neue,
		Ubuntu,
		sans-serif;
}
