.form {
	display: flex;
	flex-direction: column;
	padding: 0 2rem;
	gap: 1rem;
	/* border: 2px var(--color-border-mint-dew) solid; */
	/* border-radius: 0.8rem; */
	/* box-shadow: var(--shadow-modal); */
	/* color: var(--text-primary, #333); */
	color: #2d3748;
	height: 100%;
	margin-top: 5rem;
	width: 100%;
}
.fieldset {
	display: flex;
	flex-direction: column;
}
.legend {
	color: var(--text-color-primary);
	font-weight: 500;
	font-size: 1.5rem;
	text-align: center;
	padding-top: 2.5rem;
}
.social {
	&-button {
		border: 1px solid #ddd;
		border-radius: 50%;
		/* margin: 0 5px; */
		display: inline-flex;
		justify-content: center;
		align-items: center;
		height: 40px;
		width: 40px;
		background-color: #fff;
		cursor: pointer;
		transition: all 0.3s ease;
		&:hover {
			transform: translateY(-2px);
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
		}
	}
	&-buttons {
		display: flex;
		align-self: center;
		gap: 15px;
	}
}
.text {
	align-self: center;
	font-size: 0.75rem;
	color: var(--text-color-secondary);
}

.button {
	padding: 0.75rem 2.8rem;
	border-radius: 1.25rem;
	font-weight: bold;
	font-size: 0.75rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	align-self: center;
	background-color: var(--button-color-active);
	color: var(--button-color-text);
	:focus {
		outline: none;
	}
	&:active {
		transform: scale(0.95);
	}
	&:disabled {
		background-color: var(--button-color-disabled);
		color: var(--button-color-disabled-text);
		cursor: not-allowed;
	}
}
